# This .gitignore file should be placed at the root of your Unity project directory

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.unityproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Extra
*.zip
*.so
*.x86_64
*build_Data

# Builds
*.apk
*.aab
*.unitypackage
*.app

#Config
/Assets/Resources/config.json

/Packages/com.ptc.vuforia.engine-10.29.6.tgz